{% extends "base.html.twig" %} {% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/app.css') }}" type="text/css" />
{% endblock %} {% block body %} {% include "app/navigation.html.twig" %}
<main class="app-main">
  <div class="app-main_container">
    <div class="app-main_content">{% block main %}{% endblock %}</div>
  </div>
</main>
{% include "vitrine/footer.html.twig" %}
<div class="flash-container">
  {% for message in app.flashes('success') %}
  <div class="flash-container__item success">
    {{ message }}
  </div>
  {% endfor %} {% for message in app.flashes('error') %}
  <div class="flash-container__item error">
    {{ message }}
  </div>
  {% endfor %}
</div>
{% endblock %} {% block javascripts %}
{{ parent() }}
{% endblock %}
