<header class="menu home-menu">
  <nav class="menu__navigation home-navigation">
    <ol class="menu__navigation-container home-navigation-waves">
      <li><a href="{{ path('vitrine_home') }}">Home</a></li>
      <li>
        <a href="{{ path('app_about') }}">{% trans %}About{% endtrans %}</a>
      </li>
    </ol>
    <a href="{{ path('vitrine_home') }}" class="menu__navigation-title"
      >Ocean Rescue</a
    >
    <ol class="menu__navigation-container end">
      <li>
        <a href="{{ path('app_logout') }}">{% trans %}Logout {% endtrans %}</a>
      </li>
    </ol>
  </nav>
  <div>
    <svg
      class="waves"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 24 150 28"
      preserveAspectRatio="none"
      shape-rendering="auto"
    >
      <defs>
        <path
          id="gentle-wave"
          d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"
        />
      </defs>
      <g class="parallax">
        <use
          xlink:href="#gentle-wave"
          x="48"
          y="0"
          fill="rgba(255,255,255,0.7"
        />
        <use
          xlink:href="#gentle-wave"
          x="48"
          y="3"
          fill="rgba(255,255,255,0.5)"
        />
        <use
          xlink:href="#gentle-wave"
          x="48"
          y="5"
          fill="rgba(255,255,255,0.3)"
        />
        <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
      </g>
    </svg>
  </div>
  <div class="waves-opacity_gradient"></div>
</header>
