{% extends 'vitrine/base.html.twig' %} {% block title %}{{ parent() }}Accueil{%
endblock %} {% block main %}
<section class="landing-page">
  <article class="landing-page__header">
    <div class="input-container" id="app"></div>
    <h1>{% trans %}Ocean Rescue{% endtrans %}</h1>
    <p>
      {% trans %} Ocean Rescue is an application designed for the night of
      computer science. We have to develop a database and a web app which allow
      users to search data about rescuers and boats. {% endtrans %}
    </p>
    <b>{% trans %}We are the "C++ ce que c'était" team.{% endtrans %}</b>
  </article>
  {% include 'components/waves.html.twig' %}
</section>
{% endblock %}
