{% extends 'app/base.html.twig' %} {% block title %}{{ parent() }}Accueil{%
endblock %} {% block main %}
<h1>Les participants</h1>
<ul>
  <li>HEIT Valentin</li>
  <li>GANGLOFF Clément</li>
  <li>ALLEMANN Louis</li>
  <li>MALFARA Elio</li>
  <li>HOFFMANN Martin</li>
  <li>COLOMBO Alexandre</li>
  <li>SCHLUMBERGER Claude</li>
  <li>FREYMANN Ludéric</li>
</ul>
{% endblock %}
