{% extends 'app/base.html.twig' %} {% block title %}{{ parent() }}Accueil{%
endblock %} {% block main %}
<a href="{{ path('app_create_person', { entity: 'rescuer' }) }}"
  >Créer une personne sauveteur</a
>
<a href="{{ path('app_create_person', { entity: 'rescued' }) }}"
  >Créer une personne secouru</a
>

<a href="{{ path('app_created_boats') }}">Liste des bateaux</a>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum elementum
  euismod tristique. Etiam vestibulum, mi vitae sollicitudin pharetra, enim quam
  lobortis velit, quis volutpat ex leo id lorem. Cras posuere eget arcu sed
  dictum. Etiam sapien justo, fringilla vel lacus in, rhoncus accumsan ligula.
  Donec scelerisque libero ipsum, vel scelerisque magna egestas quis. Fusce
  ultricies urna non placerat laoreet. Praesent sapien lectus, venenatis non
  erat ac, tempus dignissim lorem. Aenean sed semper lacus. Ut suscipit, orci ac
  vulputate suscipit, nulla nulla auctor risus, in fringilla est mauris eget
  quam. Duis bibendum consectetur sem, et consectetur mi interdum et. Vestibulum
  a dui semper, dapibus tellus gravida, imperdiet mauris. Vestibulum accumsan,
  risus eu accumsan interdum, neque est varius eros, eu viverra magna sapien
  rutrum nisi. Vivamus finibus libero odio. Nulla facilisi. Ut at dictum lacus,
  at molestie dui. Maecenas volutpat euismod consequat. Maecenas faucibus
  rhoncus aliquam. Cras ut urna est. Nulla dictum mauris risus, quis ullamcorper
  elit mattis quis. Fusce eros lacus, pharetra sit amet fringilla eu, mollis
  quis justo.
</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum elementum
  euismod tristique. Etiam vestibulum, mi vitae sollicitudin pharetra, enim quam
  lobortis velit, quis volutpat ex leo id lorem. Cras posuere eget arcu sed
  dictum. Etiam sapien justo, fringilla vel lacus in, rhoncus accumsan ligula.
  Donec scelerisque libero ipsum, vel scelerisque magna egestas quis. Fusce
  ultricies urna non placerat laoreet. Praesent sapien lectus, venenatis non
  erat ac, tempus dignissim lorem. Aenean sed semper lacus. Ut suscipit, orci ac
  vulputate suscipit, nulla nulla auctor risus, in fringilla est mauris eget
  quam. Duis bibendum consectetur sem, et consectetur mi interdum et. Vestibulum
  a dui semper, dapibus tellus gravida, imperdiet mauris. Vestibulum accumsan,
  risus eu accumsan interdum, neque est varius eros, eu viverra magna sapien
  rutrum nisi. Vivamus finibus libero odio. Nulla facilisi. Ut at dictum lacus,
  at molestie dui. Maecenas volutpat euismod consequat. Maecenas faucibus
  rhoncus aliquam. Cras ut urna est. Nulla dictum mauris risus, quis ullamcorper
  elit mattis quis. Fusce eros lacus, pharetra sit amet fringilla eu, mollis
  quis justo.
</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum elementum
  euismod tristique. Etiam vestibulum, mi vitae sollicitudin pharetra, enim quam
  lobortis velit, quis volutpat ex leo id lorem. Cras posuere eget arcu sed
  dictum. Etiam sapien justo, fringilla vel lacus in, rhoncus accumsan ligula.
  Donec scelerisque libero ipsum, vel scelerisque magna egestas quis. Fusce
  ultricies urna non placerat laoreet. Praesent sapien lectus, venenatis non
  erat ac, tempus dignissim lorem. Aenean sed semper lacus. Ut suscipit, orci ac
  vulputate suscipit, nulla nulla auctor risus, in fringilla est mauris eget
  quam. Duis bibendum consectetur sem, et consectetur mi interdum et. Vestibulum
  a dui semper, dapibus tellus gravida, imperdiet mauris. Vestibulum accumsan,
  risus eu accumsan interdum, neque est varius eros, eu viverra magna sapien
  rutrum nisi. Vivamus finibus libero odio. Nulla facilisi. Ut at dictum lacus,
  at molestie dui. Maecenas volutpat euismod consequat. Maecenas faucibus
  rhoncus aliquam. Cras ut urna est. Nulla dictum mauris risus, quis ullamcorper
  elit mattis quis. Fusce eros lacus, pharetra sit amet fringilla eu, mollis
  quis justo.
</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum elementum
  euismod tristique. Etiam vestibulum, mi vitae sollicitudin pharetra, enim quam
  lobortis velit, quis volutpat ex leo id lorem. Cras posuere eget arcu sed
  dictum. Etiam sapien justo, fringilla vel lacus in, rhoncus accumsan ligula.
  Donec scelerisque libero ipsum, vel scelerisque magna egestas quis. Fusce
  ultricies urna non placerat laoreet. Praesent sapien lectus, venenatis non
  erat ac, tempus dignissim lorem. Aenean sed semper lacus. Ut suscipit, orci ac
  vulputate suscipit, nulla nulla auctor risus, in fringilla est mauris eget
  quam. Duis bibendum consectetur sem, et consectetur mi interdum et. Vestibulum
  a dui semper, dapibus tellus gravida, imperdiet mauris. Vestibulum accumsan,
  risus eu accumsan interdum, neque est varius eros, eu viverra magna sapien
  rutrum nisi. Vivamus finibus libero odio. Nulla facilisi. Ut at dictum lacus,
  at molestie dui. Maecenas volutpat euismod consequat. Maecenas faucibus
  rhoncus aliquam. Cras ut urna est. Nulla dictum mauris risus, quis ullamcorper
  elit mattis quis. Fusce eros lacus, pharetra sit amet fringilla eu, mollis
  quis justo.
</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum elementum
  euismod tristique. Etiam vestibulum, mi vitae sollicitudin pharetra, enim quam
  lobortis velit, quis volutpat ex leo id lorem. Cras posuere eget arcu sed
  dictum. Etiam sapien justo, fringilla vel lacus in, rhoncus accumsan ligula.
  Donec scelerisque libero ipsum, vel scelerisque magna egestas quis. Fusce
  ultricies urna non placerat laoreet. Praesent sapien lectus, venenatis non
  erat ac, tempus dignissim lorem. Aenean sed semper lacus. Ut suscipit, orci ac
  vulputate suscipit, nulla nulla auctor risus, in fringilla est mauris eget
  quam. Duis bibendum consectetur sem, et consectetur mi interdum et. Vestibulum
  a dui semper, dapibus tellus gravida, imperdiet mauris. Vestibulum accumsan,
  risus eu accumsan interdum, neque est varius eros, eu viverra magna sapien
  rutrum nisi. Vivamus finibus libero odio. Nulla facilisi. Ut at dictum lacus,
  at molestie dui. Maecenas volutpat euismod consequat. Maecenas faucibus
  rhoncus aliquam. Cras ut urna est. Nulla dictum mauris risus, quis ullamcorper
  elit mattis quis. Fusce eros lacus, pharetra sit amet fringilla eu, mollis
  quis justo.
</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum elementum
  euismod tristique. Etiam vestibulum, mi vitae sollicitudin pharetra, enim quam
  lobortis velit, quis volutpat ex leo id lorem. Cras posuere eget arcu sed
  dictum. Etiam sapien justo, fringilla vel lacus in, rhoncus accumsan ligula.
  Donec scelerisque libero ipsum, vel scelerisque magna egestas quis. Fusce
  ultricies urna non placerat laoreet. Praesent sapien lectus, venenatis non
  erat ac, tempus dignissim lorem. Aenean sed semper lacus. Ut suscipit, orci ac
  vulputate suscipit, nulla nulla auctor risus, in fringilla est mauris eget
  quam. Duis bibendum consectetur sem, et consectetur mi interdum et. Vestibulum
  a dui semper, dapibus tellus gravida, imperdiet mauris. Vestibulum accumsan,
  risus eu accumsan interdum, neque est varius eros, eu viverra magna sapien
  rutrum nisi. Vivamus finibus libero odio. Nulla facilisi. Ut at dictum lacus,
  at molestie dui. Maecenas volutpat euismod consequat. Maecenas faucibus
  rhoncus aliquam. Cras ut urna est. Nulla dictum mauris risus, quis ullamcorper
  elit mattis quis. Fusce eros lacus, pharetra sit amet fringilla eu, mollis
  quis justo.
</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum elementum
  euismod tristique. Etiam vestibulum, mi vitae sollicitudin pharetra, enim quam
  lobortis velit, quis volutpat ex leo id lorem. Cras posuere eget arcu sed
  dictum. Etiam sapien justo, fringilla vel lacus in, rhoncus accumsan ligula.
  Donec scelerisque libero ipsum, vel scelerisque magna egestas quis. Fusce
  ultricies urna non placerat laoreet. Praesent sapien lectus, venenatis non
  erat ac, tempus dignissim lorem. Aenean sed semper lacus. Ut suscipit, orci ac
  vulputate suscipit, nulla nulla auctor risus, in fringilla est mauris eget
  quam. Duis bibendum consectetur sem, et consectetur mi interdum et. Vestibulum
  a dui semper, dapibus tellus gravida, imperdiet mauris. Vestibulum accumsan,
  risus eu accumsan interdum, neque est varius eros, eu viverra magna sapien
  rutrum nisi. Vivamus finibus libero odio. Nulla facilisi. Ut at dictum lacus,
  at molestie dui. Maecenas volutpat euismod consequat. Maecenas faucibus
  rhoncus aliquam. Cras ut urna est. Nulla dictum mauris risus, quis ullamcorper
  elit mattis quis. Fusce eros lacus, pharetra sit amet fringilla eu, mollis
  quis justo.
</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum elementum
  euismod tristique. Etiam vestibulum, mi vitae sollicitudin pharetra, enim quam
  lobortis velit, quis volutpat ex leo id lorem. Cras posuere eget arcu sed
  dictum. Etiam sapien justo, fringilla vel lacus in, rhoncus accumsan ligula.
  Donec scelerisque libero ipsum, vel scelerisque magna egestas quis. Fusce
  ultricies urna non placerat laoreet. Praesent sapien lectus, venenatis non
  erat ac, tempus dignissim lorem. Aenean sed semper lacus. Ut suscipit, orci ac
  vulputate suscipit, nulla nulla auctor risus, in fringilla est mauris eget
  quam. Duis bibendum consectetur sem, et consectetur mi interdum et. Vestibulum
  a dui semper, dapibus tellus gravida, imperdiet mauris. Vestibulum accumsan,
  risus eu accumsan interdum, neque est varius eros, eu viverra magna sapien
  rutrum nisi. Vivamus finibus libero odio. Nulla facilisi. Ut at dictum lacus,
  at molestie dui. Maecenas volutpat euismod consequat. Maecenas faucibus
  rhoncus aliquam. Cras ut urna est. Nulla dictum mauris risus, quis ullamcorper
  elit mattis quis. Fusce eros lacus, pharetra sit amet fringilla eu, mollis
  quis justo.
</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum elementum
  euismod tristique. Etiam vestibulum, mi vitae sollicitudin pharetra, enim quam
  lobortis velit, quis volutpat ex leo id lorem. Cras posuere eget arcu sed
  dictum. Etiam sapien justo, fringilla vel lacus in, rhoncus accumsan ligula.
  Donec scelerisque libero ipsum, vel scelerisque magna egestas quis. Fusce
  ultricies urna non placerat laoreet. Praesent sapien lectus, venenatis non
  erat ac, tempus dignissim lorem. Aenean sed semper lacus. Ut suscipit, orci ac
  vulputate suscipit, nulla nulla auctor risus, in fringilla est mauris eget
  quam. Duis bibendum consectetur sem, et consectetur mi interdum et. Vestibulum
  a dui semper, dapibus tellus gravida, imperdiet mauris. Vestibulum accumsan,
  risus eu accumsan interdum, neque est varius eros, eu viverra magna sapien
  rutrum nisi. Vivamus finibus libero odio. Nulla facilisi. Ut at dictum lacus,
  at molestie dui. Maecenas volutpat euismod consequat. Maecenas faucibus
  rhoncus aliquam. Cras ut urna est. Nulla dictum mauris risus, quis ullamcorper
  elit mattis quis. Fusce eros lacus, pharetra sit amet fringilla eu, mollis
  quis justo.
</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum elementum
  euismod tristique. Etiam vestibulum, mi vitae sollicitudin pharetra, enim quam
  lobortis velit, quis volutpat ex leo id lorem. Cras posuere eget arcu sed
  dictum. Etiam sapien justo, fringilla vel lacus in, rhoncus accumsan ligula.
  Donec scelerisque libero ipsum, vel scelerisque magna egestas quis. Fusce
  ultricies urna non placerat laoreet. Praesent sapien lectus, venenatis non
  erat ac, tempus dignissim lorem. Aenean sed semper lacus. Ut suscipit, orci ac
  vulputate suscipit, nulla nulla auctor risus, in fringilla est mauris eget
  quam. Duis bibendum consectetur sem, et consectetur mi interdum et. Vestibulum
  a dui semper, dapibus tellus gravida, imperdiet mauris. Vestibulum accumsan,
  risus eu accumsan interdum, neque est varius eros, eu viverra magna sapien
  rutrum nisi. Vivamus finibus libero odio. Nulla facilisi. Ut at dictum lacus,
  at molestie dui. Maecenas volutpat euismod consequat. Maecenas faucibus
  rhoncus aliquam. Cras ut urna est. Nulla dictum mauris risus, quis ullamcorper
  elit mattis quis. Fusce eros lacus, pharetra sit amet fringilla eu, mollis
  quis justo.
</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum elementum
  euismod tristique. Etiam vestibulum, mi vitae sollicitudin pharetra, enim quam
  lobortis velit, quis volutpat ex leo id lorem. Cras posuere eget arcu sed
  dictum. Etiam sapien justo, fringilla vel lacus in, rhoncus accumsan ligula.
  Donec scelerisque libero ipsum, vel scelerisque magna egestas quis. Fusce
  ultricies urna non placerat laoreet. Praesent sapien lectus, venenatis non
  erat ac, tempus dignissim lorem. Aenean sed semper lacus. Ut suscipit, orci ac
  vulputate suscipit, nulla nulla auctor risus, in fringilla est mauris eget
  quam. Duis bibendum consectetur sem, et consectetur mi interdum et. Vestibulum
  a dui semper, dapibus tellus gravida, imperdiet mauris. Vestibulum accumsan,
  risus eu accumsan interdum, neque est varius eros, eu viverra magna sapien
  rutrum nisi. Vivamus finibus libero odio. Nulla facilisi. Ut at dictum lacus,
  at molestie dui. Maecenas volutpat euismod consequat. Maecenas faucibus
  rhoncus aliquam. Cras ut urna est. Nulla dictum mauris risus, quis ullamcorper
  elit mattis quis. Fusce eros lacus, pharetra sit amet fringilla eu, mollis
  quis justo.
</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum elementum
  euismod tristique. Etiam vestibulum, mi vitae sollicitudin pharetra, enim quam
  lobortis velit, quis volutpat ex leo id lorem. Cras posuere eget arcu sed
  dictum. Etiam sapien justo, fringilla vel lacus in, rhoncus accumsan ligula.
  Donec scelerisque libero ipsum, vel scelerisque magna egestas quis. Fusce
  ultricies urna non placerat laoreet. Praesent sapien lectus, venenatis non
  erat ac, tempus dignissim lorem. Aenean sed semper lacus. Ut suscipit, orci ac
  vulputate suscipit, nulla nulla auctor risus, in fringilla est mauris eget
  quam. Duis bibendum consectetur sem, et consectetur mi interdum et. Vestibulum
  a dui semper, dapibus tellus gravida, imperdiet mauris. Vestibulum accumsan,
  risus eu accumsan interdum, neque est varius eros, eu viverra magna sapien
  rutrum nisi. Vivamus finibus libero odio. Nulla facilisi. Ut at dictum lacus,
  at molestie dui. Maecenas volutpat euismod consequat. Maecenas faucibus
  rhoncus aliquam. Cras ut urna est. Nulla dictum mauris risus, quis ullamcorper
  elit mattis quis. Fusce eros lacus, pharetra sit amet fringilla eu, mollis
  quis justo.
</p>
<div id="trash"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('trash') }}
{% endblock %}
