{% extends "base.html.twig" %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('css/vitrine.css')}}" type="text/css" />
{% endblock %}

{% block body %}
    {% include "vitrine/navigation.html.twig" %}
    <main class="vitrine-main">
        {% block main %}{% endblock %}    
    </main>
    {% include "vitrine/footer.html.twig" %}
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script>
        const LOCALE = "{{app.request.locale}}";
    </script>
{% endblock %}