<footer class="footer" style="background-color:#E5E4E2">
    <div style="display:flex; justify-content:center; flex-direction:column; align-items:center;">
        {% for locale in locales|filter(locale => locale != app.request.locale) %}
            <p>{% trans %} Switch my language {% endtrans %}</p>
            <a href="{{ path('change_locale', {'locale': locale}) }}">
                <img alt={{locale}} style="height:20px" src="{{asset('assets/'~locale~'.svg')}}">
            </a>
        {% endfor %}
    </div>
</footer>