<header class="menu">
  <nav class="menu__navigation">
    <ol class="menu__navigation-container start">
      <li>
        <a href="{{ path('vitrine_home') }}">{% trans %}Home{% endtrans %}</a>
      </li>
      <li><a href="#">{% trans %}About{% endtrans %}</a></li>
    </ol>
    <a href="{{ path('vitrine_home') }}" class="menu__navigation-title"
      >Ocean Rescue</a
    >
    <ol class="menu__navigation-container end">
      {% if app.user %}
      <li>
        <a href="{{ path('app_logout') }}">{% trans %}Logout {% endtrans %}</a>
      </li>
      <li>
        <a href="{{ path('app_home') }}">{% trans %}Go to app {% endtrans %}</a>
      </li>
      {% else %}
      <li>
        <a href="{{ path('app_login') }}">{% trans %}Login{% endtrans %}</a>
      </li>
      <li>
        <a href="{{ path('app_signup') }}" class="btn white"
          >{% trans %}Sign up{% endtrans %}</a
        >
      </li>
      {% endif %}
    </ol>
  </nav>
</header>
