{% extends 'app/base.html.twig' %} {% block title %}{{ parent() }}Bateaux{%
endblock %} {% block main %}
{{ form_start(form) }}
{% include "components/form_input.html.twig" with {'field': form.name} %}
<button type="submit" class="btn primary full">Créer</button>
{{ form_end(form) }}
{% endblock %}
