{% extends 'app/base.html.twig' %} {% block title %}{{ parent() }}Bateaux{%
endblock %} {% block main %}
<a href="{{ path('app_create_boat', { entity: 'rescuer' }) }}"
  >Créer un bateau sauveteur</a
>
<a href="{{ path('app_create_boat', { entity: 'rescued' }) }}"
  >Créer un bateau secouru</a
>

<ul class="boat-list">
  {% for boat in boats %}
  <li class="boat-container">
    {{ boat.name
    }}<a
      href="{{ path('app_create_boat', { boat: boat.id, entity: 'rescued' }) }}"
      class="btn white"
      >edit</a
    >
  </li>
  {% endfor %}
</ul>
{% endblock %}
