/****************************************
* Sign in / Sign up
****************************************/
.signin-form {
  position: absolute;
  top: -50vh;
  left: 50%;
  background-color: var(--color-bg-primary);
  border-radius: 4px;
  padding: 2rem;
  box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
  transform: translateX(-50%);

  &__title {
    font-size: 1.6em;
    font-weight: 500;
    margin: 0;
    margin-bottom: 0.5rem;
  }

  &__subtitle {
    font-size: 0.8em;
    font-weight: 400;
    margin: 0;
    margin-bottom: 2rem;
  }

  &__success-messages {
    margin: 0;
    margin-bottom: 1rem;
    padding: 10px;
    list-style: none;
    background-color: #dff2bf;
    color: #5d962c;
    border-radius: 4px;
    font-size: 0.8em;

    li::before {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f00c";
      margin-right: 8px;
    }
  }

  &__error-messages {
    margin: 0;
    margin-bottom: 1rem;
    padding: 10px;
    list-style: none;
    background-color: #ffbaba;
    color: #d9000d;
    border-radius: 4px;
    font-size: 0.8em;

    li::before {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f00c";
      margin-right: 8px;
    }
  }
}
