.boat {
  &-container {
    background: var(--color-primary);
    list-style: none;
    padding: 10px;
    width: 70%;
    margin: 0.5rem 1rem;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
  }

  &-list {
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
