.flash-container {
  position: absolute;
  left: 10px;
  bottom: 80px;

  &__item {
    padding: 10px 15px;
    border-radius: 4px;
    margin: 4px 0;

    &.success {
      background-color: #6ef66e;
    }

    &.error {
      background-color: #f66e6e;
    }
  }
}
