.home {
  &-navigation {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: var(--color-primary);
  }

  &-menu {
    position: fixed;
    height: 60px;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
  }
}
