/****************************************
* Landing page
****************************************/
.landing-page {
  flex: 1;

  &__header {
    padding-top: 6rem;
    background-color: var(--color-primary);
    color: var(--color-txt-white);
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__content {
    position: relative;
  }

  &__wave {
    pointer-events: none;
    position: absolute;
    left: 0;
    right: 0;
    top: -50px;
    width: 100%;
  }
}
