/****************************************
* Menu
****************************************/
.menu {
  position: relative;
  height: 100px;
  background: var(--color-primary);
  color: var(--color-txt-white);
  padding: 20px 0;
  .menu__navigation {
    display: flex;
    align-items: center;

    &-title {
      font-weight: 600;
      font-size: 1.8em;
      color: inherit;
      text-decoration: none;
    }

    &-container {
      margin: 0;
      padding: 0;
      list-style: none;
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      li {
        margin: 0 15px;

        a {
          &:not(.btn) {
            text-decoration: none;
            color: inherit;
          }
        }
      }
    }
  }
}
