/****************************************
* BUTTONS
****************************************/
.btn {
  background-color: var(--color-bg-secondary);
  padding: 12px 18px;
  display: block;
  box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
  border-radius: 4px;
  outline: none;
  text-decoration: none;
  border: none;
  cursor: pointer;
  line-height: 26px;

  &.full {
    width: 100%;
  }

  &.primary {
    background-color: var(--color-primary);
    color: var(--color-txt-white);
    box-shadow: rgb(0 128 255 / 22%) 0px 8px 24px;
  }

  &.white {
    background-color: var(--color-bg-primary);
    color: var(--color-txt-black);
  }
}
