:root {
  --base-primary: 223, 96%;
  --palette-primary-10: var(--base-primary), 10%;
  --palette-primary-20: var(--base-primary), 20%;
  --palette-primary-30: var(--base-primary), 30%;
  --palette-primary-40: var(--base-primary), 40%;
  --palette-primary-50: var(--base-primary), 50%;
  --palette-primary-55: var(--base-primary), 55%;
  --palette-primary-60: var(--base-primary), 60%;
  --palette-primary-70: var(--base-primary), 70%;
  --palette-primary-80: var(--base-primary), 80%;
  --palette-primary-90: var(--base-primary), 90%;
  --palette-primary-100: var(--base-primary), 100%;

  --color-primary: hsla(var(--palette-primary-55), 100%);
  --color-secondary: hsl(246, 36%, 70%);
  --color-success: hsl(152, 100%, 45%);
  --color-warning: hsl(36, 100%, 43%);
  --color-danger: hsl(349, 100%, 43%);

  --color-bg-primary: hsl(0, 0%, 98%);
  --color-bg-secondary: hsl(0, 0%, 71%);

  --color-txt-white: hsl(192, 38%, 97%);
  --color-txt-black: hsl(0, 0%, 20%);

  --color-link: hsla(var(--palette-primary-50), 100%);
  --color-link-hover: hsla(var(--palette-primary-70), 100%);
}
