/****************************************
* INPUTS
****************************************/
.input-row {
  background-color: inherit;
  margin-bottom: 1rem;

  &__input-container {
    border: solid 1px;
    border-color: var(--color-bg-secondary);
    position: relative;
    background-color: inherit;
    border-radius: 4px;

    label {
      color: var(--color-bg-secondary);
      position: absolute;
      font-size: 1em;
      padding: 0 12px;
      transform-origin: top left;
      transform: translate(0, 16px) scale(1);
      transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
        transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
        padding 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
      pointer-events: none;
      background: white;
    }

    input {
      border: none;
      font-size: 1em;
      outline: 0;
      padding: 8px 12px;
      width: 100%;
      border-radius: 4px;
      line-height: 34px;
      background-color: inherit;
    }

    &.active {
      label {
        padding: 0 8px;
        transform: translate(8px, -8px) scale(0.75);
        background-color: white;
      }
    }
  }

  &.error {
    .input-row__input-container {
      border-color: var(--color-danger);

      label {
        color: var(--color-danger);
      }
    }
  }

  &__errors {
    color: var(--color-danger);
    font-size: 0.8em;
    margin-top: 4px;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }
}
