/****************************************
* LINKS
****************************************/
.link {
  color: var(--color-link);
  text-decoration: none;
  transition: 0.15s all ease-in-out;

  &:hover {
    color: var(--color-link-hover);
  }
}
