/****************************************
* ROOT LEVEL
****************************************/
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  color: var(--color-txt-black);
  font-size: 16px;
  background-color: var(--color-bg-primary);
}

main {
  flex: 1;
  display: flex;
}

.app-main {
  &_container {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    flex: 1;
    background: white;
  }

  &_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1400px;
    overflow-y: auto;
    padding: 0 1rem;
    width: 100%;
  }
}

form {
  width: 70%;
  padding-top: 1rem;
}

h1 {
  font-size: 3.6em;
  font-weight: 700;
  margin: 0;
  margin-bottom: 2rem;
  text-align: center;
  letter-spacing: 2px;
  line-height: 64px;
}

h1 + p {
  font-size: 1em;
  font-weight: 400;
  margin: 0;
  margin-bottom: 2rem;
  text-align: center;
  max-width: 66vw;
}

::-webkit-datetime-edit-year-field:not([aria-valuenow]),
::-webkit-datetime-edit-month-field:not([aria-valuenow]),
::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
  color: transparent;
}
