{% extends 'vitrine/base.html.twig' %} {% block title %}{{
  parent()
}}Connexion{% endblock %} {% block main %}
<section class="landing-page">
  <article class="landing-page__header"></article>
  <article class="landing-page__content">
    {% include 'components/waves.html.twig' %}
    <form method="POST" class="signin-form">
      <h2 class="signin-form__title">Connectez-vous avec votre email</h2>
      <h3 class="signin-form__subtitle">
        Vous n'avez pas de compte ?
        <a href="{{ path('app_signup') }}" class="link">Créez-en un</a>
      </h3>

      {% set successMessages = app.flashes('success') %} {% if
      successMessages|length > 0 %}
      <ul class="signin-form__success-messages">
        {% for message in successMessages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %} {% set errorMessages = app.flashes('error') %} {% if
      errorMessages|length > 0 %}
      <ul class="signin-form__error-messages">
        {% for message in errorMessages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}

      <div class="input-row">
        <div class="input-row__input-container">
          <label for="inputEmail">Email</label>
          <input
            type="text"
            value="{{ last_username }}"
            name="_username"
            id="inputEmail"
            autocomplete="username"
            required
            autofocus
          />
        </div>
      </div>
      <div class="input-row">
        <div class="input-row__input-container">
          <label for="inputPassword">Mot de passe</label>
          <input type="password" name="_password" id="inputPassword" required />
        </div>
      </div>
      <input
        type="hidden"
        name="_csrf_token"
        value="{{ csrf_token('authenticate') }}"
      />

      <button class="btn primary full" type="submit">Connexion</button>
    </form>
  </article>
</section>
{% endblock %}
