{% extends 'vitrine/base.html.twig' %} {% block title %}{{
  parent()
}}Inscription{% endblock %} {% block main %}
<section class="landing-page">
  <article class="landing-page__header"></article>
  <article class="landing-page__content">
    {% include 'components/waves.html.twig' %}
    {{ form_start(form, {'attr': {'class': 'signin-form'}}) }}
    <h2 class="signin-form__title">Inscrivez-vous avec votre email</h2>
    <h3 class="signin-form__subtitle">
      Vous avez déjà un compte ?
      <a href="{{ path('app_login') }}" class="link">Connectez-vous</a>
    </h3>

    {% include "components/form_input.html.twig" with {'field': form.email} %}
    {% include "components/form_input.html.twig" with {'field':
    form.password.first} %} {% include "components/form_input.html.twig" with
    {'field': form.password.second} %}

    <button class="btn primary full" type="submit">S'inscrire</button>
    {{ form_end(form) }}
  </article>
</section>
{% endblock %}
