{% extends 'app/base.html.twig' %} {% block title %}{{ parent() }}Personne{%
endblock %} {% block main %}
{{ form_start(form) }}
{% include "components/form_input.html.twig" with {'field': form.firstname} %}
{% include "components/form_input.html.twig" with {'field': form.lastname} %} {%
include "components/form_input_date.html.twig" with {'field': form.birthdate} %}
{% include "components/form_input_date.html.twig" with {'field': form.deathdate}
%}
<button type="submit" class="btn primary full">Créer</button>
{{ form_end(form) }}
{% endblock %}
