<div class="input-row {% if field.vars.errors|length > 0 %}error{% endif %}">
    <div class="input-row__input-container">
        {{form_label(field)}}
        {{form_widget(field)}}
    </div>
    {{form_help(field)}}
    <div class="input-row__errors">{{form_errors(field)}}</div>
</div>